<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Messages : Create</title>
</head>
<body>
<h1 layout:fragment="header" th:text="#{messages.create.label}">Messages : Create</h1>

<div layout:fragment="content" class="container">

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Due to</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${rows.empty}">
            <td colspan="4">No rows</td>
        </tr>
        <tr th:each="row : ${rows}">
            <td th:text="${row.id}">1</td>
            <td>
                <a href="#" th:href="@{/row/{id}(id=${row.id})}" th:text="${row.name}">Name</a>
            </td>
            <td th:datetime="${row.date}" th:text="${#temporals.format(row.date, 'YYYY-MM-dd HH:mm:ss')}">June 26, 2017 3:00:15 PM CDT</td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>