<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Refresh" content="30"/>
    <title>Layout</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/app.css}" href="../static/css/app.css"/>
    <script type="application/javascript" src="../static/js/jquery-3.2.1.js" th:src="@{/js/jquery-3.2.1.js}"></script>
    <script type="application/javascript" src="../static/js/app.js" th:src="@{/js/app.js}"></script>
</head>
<body>
<div class="container">
    <div id='ajax_loader' style="position: fixed; left: 50%; top: 50%; display: none;">
        <img src="img/ajax-loader.gif"/>
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    My application
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a th:href="@{/}" href="all.html" th:text="#{nav.first}">
                            First
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/list/second}" href="a.html" th:text="#{nav.second}">
                            aaaaaa
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/list/third}" href="b.html" th:text="#{nav.third}">
                            bbbbb
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1 layout:fragment="header">Layout</h1>

    <div layout:fragment="content">
        Fake content
    </div>
</div>
</body>
</html>
